<a href="https://colab.research.google.com/github/ManpreetRoy/Python-data-science-journey/blob/main/Day02_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Topics for Day 02:

Variables & Data Types

Type Conversion

Basic Math & Operators

Strings

Lists

Tuples

Dictionaries

In [1]:
# Variables
name = "Manpreet"
age = 22
is_student = True
height = 5.8

print(name, age, is_student, height)
print(type(name), type(age), type(is_student), type(height))

Manpreet 22 True 5.8
<class 'str'> <class 'int'> <class 'bool'> <class 'float'>