<a href="https://colab.research.google.com/github/ManpreetRoy/Python-data-science-journey/blob/main/Day03/Day03_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [2]:
# Code here
curr_pop = 10000

for i in range(0,10,+1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

0 10000
1 9090.90909090909
2 8264.462809917353
3 7513.148009015775
4 6830.134553650703
5 6209.213230591548
6 5644.739300537771
7 5131.5811823070635
8 4665.07380209733
9 4240.976183724845

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [14]:
# Code here

n = int(input('enter n : '))

result = 0
fact = 1
for i in range(1,n+1):
  fact = fact * i
 # result = result + i/fact

#print(result)
print(fact)

enter n : 5
120

# Nested Loops

In [15]:
# Examples -> unique pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*<br>
** <br>
***<br>

In [16]:
# code here

rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

enter number of rows3
*
**
***

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [17]:
# Code here
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')

  print()

enter number of rows5
1
121
12321
1234321
123454321

# Loop Control Statement

- Break
- Continue
- Pass

In [18]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [19]:
lower = int(input('enter lower range'))
upper = int(input('enter upper range'))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

enter lower range2
enter upper range8
2
3
5
7

In [20]:
# Continue
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [22]:
for i in range(1,10):
  pass

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [25]:
s = 'hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [ ]:
"it's raining outside"

## Accessing Substrings from a String

In [ ]:
# Positive Indexing
s = 'hello world'
print(s[41])

In [ ]:
# Negative Indexing
s = 'hello world'
print(s[-3])

In [ ]:
# Slicing
s = 'hello world'
print(s[6:0:-2])

In [ ]:
print(s[::-1])

In [ ]:
s = 'hello world'
print(s[-1:-6:-1])

## Editing and Deleting in Strings

In [ ]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

In [ ]:
s = 'hello world'
del s
print(s)

In [ ]:
s = 'hello world'
del s[-1:-5:2]
print(s)

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [ ]:
print('delhi' + ' ' + 'mumbai')

In [ ]:
print('delhi'*5)

In [ ]:
print("*"*50)

In [ ]:
'delhi' != 'delhi'

In [ ]:
'mumbai' > 'pune'
# lexiographically

In [ ]:
'Pune' > 'pune'

In [ ]:
'hello' and 'world'

In [ ]:
'hello' or 'world'

In [ ]:
'' and 'world'

In [ ]:
'' or 'world'

In [ ]:
'hello' or 'world'

In [ ]:
'hello' and 'world'

In [ ]:
not 'hello'

In [ ]:
for i in 'hello':
  print(i)

In [ ]:
for i in 'delhi':
  print('pune')

In [ ]:
'D' in 'delhi'

## Common Functions
- len
- max
- min
- sorted

In [ ]:
len('hello world')

In [ ]:
max('hello world')

In [ ]:
min('hello world')

In [ ]:
sorted('hello world',reverse=True)

## Capitalize/Title/Upper/Lower/Swapcase

In [ ]:
s = 'hello world'
print(s.capitalize())
print(s)

In [ ]:
s.title()

In [ ]:
s.upper()

In [ ]:
'Hello Wolrd'.lower()

In [ ]:
'HeLlO WorLD'.swapcase()

## Count/Find/Index

In [ ]:
'my name is nitish'.count('i')

In [ ]:
'my name is nitish'.find('x')

In [ ]:
'my name is nitish'.index('x')

## endswith/startswith

In [ ]:
'my name is nitish'.endswith('sho')

In [ ]:
'my name is nitish'.startswith('1my')

## format

In [ ]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

## isalnum/ isalpha/ isdigit/ isidentifier

In [ ]:
'nitish1234%'.isalnum()

In [ ]:
'nitish'.isalpha()

In [ ]:
'123abc'.isdigit()

In [ ]:
'first-name'.isidentifier()

## Split/Join

In [ ]:
'hi my name is nitish'.split()

In [ ]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

## Replace

In [ ]:
'hi my name is nitish'.replace('nitisrgewrhgh','campusx')

## Strip

In [ ]:
'nitish                           '.strip()

## Example Programs

In [ ]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

In [ ]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

s = input('enter the email')

pos = s.index('@')
print(s[0:pos])

In [ ]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the email')
term = input('what would like to search for')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency',counter)

In [ ]:
# Write a program which can remove a particular character from a string.
s = input('enter the string')
term = input('what would like to remove')

result = ''

for i in s:
  if i != term:
    result = result + i

print(result)

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

In [ ]:
# Write a program to count the number of words in a string without split()

s = input('enter the string')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

In [ ]:
# Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

In [ ]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))