<a href="https://colab.research.google.com/github/ManpreetRoy/Python-data-science-journey/blob/main/Day03/Day03_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Print numbers from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10