<a href="https://colab.research.google.com/github/ManpreetRoy/Python-data-science-journey/blob/main/Day02/Day02_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### Q. Wrtie a program to enter two integer and then perform all arithmetic operation on them ?

In [ ]:
x = int(input("Enter first number : "))
y = int(input("Enter second number : "))

print("Add : ",x+y)
print("Sub : ",x-y)
print("Mul : ",x*y)
print("Div : ",x/y)
print("Mod : ",x%y)
print("Expo : ",x**y)

Enter first number : 4
Enter second number : 2
Add :  6
Sub :  2
Mul :  8
Div :  2.0
Mod :  0
Expo :  16

#### Q. Write a program to perform string concatenation ?

In [ ]:
x = "Hello"
y = "Akash"
print(x+" "+y)
str1 = "Good "
str2 = "Morning"
#------------------
str1 += str2
print(str1)

Hello Akash
Good Morning

##### Q. Write a program to demonstrate  printing a string within single quotes, double quotes, and triple quotes ?

```
# This is formatted as code
```

In [ ]:
str1 = 'Hello'
str2 = "Hello's Akash"
str3 = '''Hello's Akash'''
str4 = """Hello's Akash"""
print(str1)
print(str2)
print(str3)
print(str4)

Hello
Hello's Akash
Hello's Akash
Hello's Akash

#### Q. Write a program to print the ASCII value of a charcter ?

In [ ]:
print("ASCII Value | Character")
print("-----------------------")
# Iterate through all standard ASCII values (0 to 127)
for i in range(128):
    # Get the character corresponding to the ASCII value
    char = chr(i)
    # Print the value and the character
    print(f"{i:<12}| {char}")

ASCII Value | Character
-----------------------
0           |  
1           | 
2           | 
3           | 
4           | 
5           | 
6           | 
7           | 
8           | 
9           |
10          |

11          |
12          |
13          |
14          | 
15          | 
16          | 
17          | 
18          | 
19          | 
20          | 
21          | 
22          | 
23          | 
24          | 
25          | 
26          | 
27          | 
28          |
29          |
30          |
31          |
32          |
33          | !
34          | "
35          | #
36          | $
37          | %
38          | &
39          | '
40          | (
41          | )
42          | *
43          | +
44          | ,
45          | -
46          | .
47          | /
48          | 0
49          | 1
50          | 2
51          | 3
52          | 4
53          | 5
54          | 6
55          | 7
56          | 8
57          | 9
58          | :
59          | ;
60          | <
61          | =
62          | >
63          | ?
64          | @
65          | A
66          | B
67          | C
68          | D
69          | E
70          | F
71          | G
72          | H
73          | I
74          | J
75          | K
76          | L
77          | M
78          | N
79          | O
80          | P
81          | Q
82          | R
83          | S
84          | T
85          | U
86          | V
87          | W
88          | X
89          | Y
90          | Z
91          | [
92          | \
93          | ]
94          | ^
95          | _
96          | `
97          | a
98          | b
99          | c
100         | d
101         | e
102         | f
103         | g
104         | h
105         | i
106         | j
107         | k
108         | l
109         | m
110         | n
111         | o
112         | p
113         | q
114         | r
115         | s
116         | t
117         | u
118         | v
119         | w
120         | x
121         | y
122         | z
123         | {
124         | |
125         | }
126         | ~
127         | 